{% extends 'base.html' %}
{% block title %}Monitoring Statistics{% endblock %}

{% block content %}

{% load staticfiles %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Seizure Duration over Time</div>
                <div class="panel-body">
                    <img src="/monitor/statistics/seizureDistribution.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Seizure Frequency per Night (between 14:00h and 13:59h)</div>
                <div class="panel-body">
                    <img src="/monitor/statistics/seizureFrequency.png"></br>

                    {% if days|length > 0 %}
                      <!-- Table -->
                      <table class="table">
                          <tr>
                              <th>Day</th>
                              <th>`\bar{d}`</th>
                              <th>`\max{d}`</th>
                              <th>`\min{d}` {{ blubb }}</th>
                          </tr>
                          
                        {% for dayI in days %}
                          <tr>
                              <td>{{ dayI.time|date:"d-m-Y" }}</td>
                              <td>{{ durationMean.forloop.counter0 }}</td>
                              <td></td>
                              <td></td>
                          </tr>
                        {% endfor %}
                      </table>

                    {% endif %}
                </div>
                <div class="panel-footer">
                    The length `l` of the error bar is normalised by the maximal
                    seizure duration `d_\text{max}` and suffices: `l \in [0;
                    1]`. The intensity is not accounted for in this diagram,
                    since this is a <em>subjective</em> measure, yet. As soon as
                    sound is recorded, it can be based on that. An other
                    thinkable option is to use the live video analysis and
                    determine the maximum frame-in-motion as a function over
                    time.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Seizure Distribution Comparison</div>
                <div class="panel-body">
                    <img src="/monitor/statistics/dailySeizureDistributionComparison.png">
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
